#entete, #gauche, #droite,
#entete
{
	width: 99%;
	background-color: white;
	text-align: center;
}
#gauche
{
	float: left;
	width: 48%;
	background-color: silver;
	text-align: center;
}
#droite
{
	float: right;
	width: 48%;
	background-color: silver;
	text-align: center;
}
h1{
	color: green;
}